<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Avatar</title>

</head>

<body>

<div th:if="${avatares!= null && !avatares.isEmpty()}">
<p>Listagem de avatares cadastrados: </p>
  <ul style="width: 50%">
    <li th:each="avatar : ${avatares}" style="min-width: 12%;display: flex;justify-content: space-between;">
      <div>
        <span th:text="${avatar.nomeFantasia} + ' - ' + ${avatar.estudante.nome} + ' - ' + ${avatar.estudante.curso.descricao}"/>
      </div>
    </li>
  </ul>
</div>
<div th:unless="${avatares != null && !avatares.isEmpty()}">
  <p><b>Não existem avatares cadastrados.</b></p>
  <span>Clique em Formulário de avatares e adicione.</span>
</div>
<br><br>
<a href="/">Home</a><br>
<a href="showForm">Formulário de Avatares</a>

</body>

</html>